@mixin util__shadow-1() {
  @include box-shadow(0 1px 3px rgba(#000, .12), 0 1px 2px rgba(#000, .24));
}

@mixin util__shadow-2() {
  @include box-shadow(0 3px 6px rgba(#000, .16), 0 3px 6px rgba(#000, .23));
}

@mixin util__shadow-3() {
  @include box-shadow(0 10px 20px rgba(#000, .19), 0 6px 6px 0 rgba(#000, .23));
}

@mixin util__shadow-4() {
  @include box-shadow(0 14px 28px rgba(#000, .25), 0 10px 10px 0 rgba(#000, .22));
}

@mixin util__shadow-5() {
  @include box-shadow(0 19px 38px rgba(#000, .30), 0 15px 12px 0 rgba(#000, .22));
}

@mixin util__shadow-none() {
  @include box-shadow(none !important);
}


%util__shadow-1 {
  @include util__shadow-1;
}

%util__shadow-2 {
  @include util__shadow-2;
}

%util__shadow-3 {
  @include util__shadow-3;
}

%util__shadow-4 {
  @include util__shadow-4;
}

%util__shadow-5 {
  @include util__shadow-5;
}

%util__shadow-none {
  @include util__shadow-none;
}
