.page--index {

  .container-2 {
    flex-grow: 1;
    justify-content: center;
  }

  .page__content {

  }

  .index__head {
    @include rem(margin-bottom, 40px);
    @include rem(font-size, 42px);

    text-align: center;
    line-height: normal;

    h1 {
      display: flex;
      flex-direction: column;
      align-items: center;

      font-weight: 400;

      :first-child {
        color: color('red', 'base');
      }

      :not(:first-child) {
        color: $typography--color--dark-light;
      }
    }
  }

  .index__countdown {

  }

  .index__countdown__el {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    li {

      &.separator {
        line-height: 1;
        color: $typography--color--dark-light;
      }

      &:not(.separator) {
        @include border-radius(6px);
        @include rem(padding, 24px);
        @include rem(margin, 8px 12px);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        box-shadow: 0 3px 4px 0 rgba(#000, .2), inset 2px 4px 0 0 rgba(#fff, .08);
        background: #fff;

        span {
          @extend %font-mono;

          @include rem(font-size, 56px);

          font-weight: 700;
          line-height: 1;
          color: color('red', 'base');
        }

        p {
          @include rem(margin-top, 8px);

          color: $typography--color--dark-light;
        }
      }
    }
  }

  .index__links {
    @include rem(margin-top, 40px);

    text-align: center;
  }
}