footer#footer.footer
    .container: .container__inner
        .footer__container
            a(href='https://twitter.com/ClementLesne', target='_blank', title='Author') @ClementLesne
            p v@@version