.footer {

}

.footer__container {
  @include rem(margin, 32px 0);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;

  text-align: right;
  color: $typography--color--dark-light;

  > :not(:first-child) {
    &:before {
      @include rem(margin, 0 8px);

      content: '\00B7';
      color: inherit;
    }
  }

  a {
    @extend %a--bright;
  }
}